html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}



@font-face {
  font-family: brittanySignature;
  src: url(.\assets\brittany_signature\BrittanySignature.ttf);
}

/* header & nav bar */
.background-image {
  position: relative;
  width: 100vw;
  /* height: auto; */
  /* overflow: hidden;  */
  text-align: center;
  top: -20px;
  left: -1%;
  right: -1%;
}

.background-image img {
  width: 100%;
  opacity: 0.95;
  position: relative;
  object-fit: cover;
  z-index: -1;
}

.white-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 100%);
  pointer-events: none; /* Allows interaction with elements behind the white box */
  z-index: 0;
}

/* #header-image {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -8;
  width: 100vw;
  opacity: .98;
  object-fit: cover;
  object-position: 95% 0; 
} */

.navigation-container {
  width: 100vw;
  position: absolute;
  top: 0px;
  z-index: 2;
}

.navigation-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 2;
  list-style-type: none;
}

.navigation-items li {
  width: 100px;
  padding: 2%;
}

/* Note to self, remember: link, visited, hover, active */
.navigation-items a {
  text-decoration: none;
  color: #3647b2;
  font-size: 1.25em;
}

.navigation-items a:hover {
  font-weight: bold;
}

/* main site */
main {
  position: absolute;
  top: 70px;
  padding: 2%;
}

hr {
  width: 110%;
  margin: 3% auto;
  border-top: 1px solid #3647b2; /* no border */
}

h2 {
  font-family: "novecento-sans-wide", sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* About Me section */
#my-name {
  font-family: "mina", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4em;
  margin-bottom: 0;
  line-height: 2;
  text-align: right;
}

.intro-container {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  height: 80vh;
  flex-wrap: wrap;
  align-items: center;
  /* margin-top: 20px; */
}

.intro-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.photo-div {
  justify-self: flex-end;
}

.text-div {
  text-align: right;
}

.professional-id, #based-in-ohio {
  /* font-family: "novecento-sans-wide", sans-serif; */
  font-family: "Libre Baskerville", serif;
  font-style: normal;
  /* font-variant: small-caps; */
}

.professional-id {
  font-size: 2.5em;
  font-weight: 300;
  color: #656565;
  line-height: .7;
}

#based-in-ohio {
  display: inline;
  font-size: 1.3em;
  font-weight: 400;
  color: #007084;
}

.text-div p {
  font-size: 1.5em;
  text-wrap: wrap;
  line-height: 1.5;
  /* font-weight: 505; */
}

#columbus-ohio {
  width: 275px;
  height: 275px;
  opacity: 90%;
}

button {
  padding: 10px;
  margin: 5px;
  color: #e5e5e5;
  background-color: #009a05;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 #b3b3b3;
}

button:hover {
  background-color: #008004de;
}

/* Projects section */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: rgb(201, 201, 201); */
}

.project-card {
  width: 300px;
  height: 275px;
  padding: 1%;
  margin: 10px;
  box-shadow: 0 1px 1px 0 #737373;
  border-radius: 5%;
}

.project-card img {
  width: 250px;
  margin: 5% 10%;
  box-shadow: 0px 1px 1px 1px #737373;
}

.project-title {
  font-weight: 600;
}

.project-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* Tech Stack/Skills section */
.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-stack-logos {
  display: block;
  width: 100px;
  height: 100px;
  justify-content: center;
  padding: 1%;
  /* margin: 0 0 1% 0; */
  text-align: center;
}

.tech-stack-logos img {
  height: 65px;
}

/* About Me section */


/* Contact section */
/* .contact-container {
  height: 30vh;
} */

#fullname, #email {
  padding: 8px;
  margin: 10px;
  width: 300px;
  border-radius: 3px;
  border-width: 1px;
}

textarea {
  width: 600px;
  height: 200px;
  margin: 10px;
  border-radius: 3px;
  border-width: 1px;
}

input[type=submit], input[type=reset] {
  background-color: #008004de;
  color: white;
  padding: 15px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #008004;
}

input[type=reset]:hover {
  background-color: #008004;
}

/* Footer */
footer p {
  font-size: large;
  text-align: left;
}

#footer-name {
  font-family: "mina", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  line-height: .75;
}

.footer-links {
  display: flex;
  list-style-type: none;
}

.footer-links li {
  justify-items: space-evenly;
  padding: 1% 2%;
}

.footer-links a {
  text-decoration: none;
  color: #3647b2;
  font-size: 1em;
}

/* @media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
} */