body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  background-color: #ffffff;
  
}

/* header & nav bar */
.navigation-container {
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  
  /* box-shadow: 1px 1px 1px 1px rgb(179, 179, 179); */
  /* background-color: blue; */
}

#header-image {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -2;
  width: 100vw;
  height: 80px;
  opacity: .95;
  object-fit: cover;
  object-position: 95% 0; 
}
/* 
#nav-logo {
  margin: 5px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
} */

.navigation-items {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  list-style-type: none;
  margin-left: 57%;
}

.navigation-items li {
  display: inline-block;
  justify-items: flex-end;
  width: 100px;
  padding: 2%;
}

/* Note to self, remember: link, visited, hover, active */
.navigation-items a {
  text-decoration: none;
  color: #3647b2;
}

.navigation-items a:hover {
  font-weight: bold;
}

/* main site */
main {
  position: absolute;
  top: 70px;
  margin: 2%;
}

/* About Me section */
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#headshot {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgb(179, 179, 179);
}

.based-in-ohio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#columbus-ohio {
  /* display: inline-flex; */
  width: 300px;
  height: 300px;
  border-radius: 5%;
  box-shadow: 1px 1px 1px 1px rgb(179, 179, 179);
}

/* Projects section */
.projects-container {
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(201, 201, 201); */
}

/* Tech Stack/Skills section */
.skills-container {
  height: 50vh;
  width: 100vw;
}

/* Contact section */
.contact-container {
  height: 30vh;
  /* width: 100vw; */
}

/* Footer */
footer {
  /* height: 5vh;
  width: 90vw; */
  text-align: center;
}

/* @media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
} */