body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  background-color: #ffffff;
  
}

/* header & nav bar */
.navigation-container {
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  
  /* box-shadow: 1px 1px 1px 1px rgb(179, 179, 179); */
  /* background-color: blue; */
}

#header-image {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -2;
  width: 100vw;
  height: 80px;
  opacity: .98;
  object-fit: cover;
  object-position: 95% 0; 
}

.navigation-items {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  list-style-type: none;
  margin-left: 57%;
}

.navigation-items li {
  display: inline-block;
  justify-items: flex-end;
  width: 100px;
  padding: 2%;
}

/* Note to self, remember: link, visited, hover, active */
.navigation-items a {
  text-decoration: none;
  color: #3647b2;
  font-size: 1.25em;
}

.navigation-items a:hover {
  font-weight: bold;
}

/* main site */
main {
  position: absolute;
  top: 70px;
  padding: 2%;
}

h2, h3, h4 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

hr {
  width: 110%;
  margin: 2% auto;
  border-top: 1px solid #3647b2; /* no border */
}

/* About Me section */
.intro-container {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.text-div {
  width: 60%;
  /* border: 2px dotted #363636; */
}

#my-name {
  font-size: 4em;
  font-variant: small-caps;
  line-height: 0.3;
}

#professional-id {
  font-size: 2em;
  color: #363636;
}

#based-in-ohio {
  font-size: 1.5em;
  color: #007084;
}

.text-div p {
  font-size: 1.25em;
  /* font-weight: 505; */
}

.photo-div {
  width: 30%;
}

#headshot {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px #b3b3b3;
  /* margin: 5%; */
}

/* Projects section */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background-color: rgb(201, 201, 201); */
}

.project-card {
  width: 300px;
  height: 250px;
  padding: 1%;
  margin: 10px;
  /* border: 1px solid #363636; */
  box-shadow: 1px 1px 1px 1px #737373;
  border-radius: 5%;
}

.project-card img {
  width: 250px;
  margin: 5% 10%;
  box-shadow: 0px 1px 1px 1px #737373;
}

/* Tech Stack/Skills section */
.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-stack-logos {
  display: block;
  width: 120px;
  height: 100px;
  justify-content: center;
  padding: 2%;
  margin: 0 0 2% 0;
  text-align: center;
}

.tech-stack-logos img {
  height: 100px;
}

/* Contact section */
.contact-container {
  height: 30vh;
  
}

/* Footer */
footer {
  text-align: center;
}

/* @media only screen and (max-width: 600px) {
  .about-me-container {
    flex-direction: column;
  }
} */